.horarios{
    height: 90rem;
    background-image: url(../img/NAILS\ NEON\ SIGN\ 2\ -\ Cool\ White\ _\ X-Small_\ W\ 45cm\ *\ H\ 34cm_\ 18”\ 13”.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reserva{
    text-align: center;
    padding:4rem;
    h2{
        font-size: 4rem;
        border-bottom: solid 2px;
        border-color: #823c3c;
    }
}

.container-flex{
    display: flex;
}
.atencion{
    width: 50%;
    padding: 4rem;
   

    .hours-pelu{
        border:  1px;
        border-radius: 1rem;
        padding: 2rem;
        box-shadow: 5px 5px 10px;

        .title-l{
            text-align: center;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 2rem;
            padding: 1rem;
            color: #823c3c;
        }
        .libre{
            margin: 1rem 0;
            p{
                font-size: 1.8rem;
                font-weight: 300;
            }
        }
        .btn-reserva{
            width: 90%;
            margin: 2rem auto;
            text-align: center;
            border: solid 1px;
            border-radius: 1rem;
            border-color: #25D366;
            transition: all ease .5s;
            a{
                color: #9ca3af;
            }
            a:hover{
                color: #090909;
            }
        }
    }

}

.atencion-2{
    width: 50%;
    padding: 4rem;

    .hours-nails{
        border: 1px;
        border-radius: 1rem;
        padding: 2rem;
        box-shadow: 5px 5px 10px;


        .title-r{
            text-align: center;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 2rem;
            padding: 1rem;
            color: #823c3c;
        }
        .libre-r{
            margin: 1rem 0;
            p{
                font-size: 1.8rem;
                font-weight: 300;
            }
        }
        .btn-reserva{
            width: 90%;
            margin: 2rem auto;
            text-align: center;
            border: solid 1px;
            border-radius: 1rem;
            border-color: #25D366;
            transition: all ease .5s;
            a{
                color: #9ca3af;
            }
            a:hover{
                color: #090909;
            }
        }

    }
}
.list-price{
    width: 100%;
    display: flex;
    .price-nails{
        width: 95%;
        margin: 2rem auto;
        border: 1px;
        border-radius: 1rem;
        padding: 2rem;
        box-shadow: 5px 5px 10px;
        .tb-1{
            margin-top: 3rem;
        }
        table{
            width: 100%;
            padding: 1rem;
            color: #121210;
            font-size: 1.4rem;
            table-layout: fixed;
            border-collapse: collapse;
            thead{
                width: 80%;
                background: rgb(130, 60, 60, 0.5);
                tr{
                    th{
                        text-transform: capitalize;
                        font-weight: 700;
                        border-left: solid 2px rgb(130, 60, 60);
                        padding: 1rem;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding: 1rem;
                        border-bottom: solid 1px rgba(143, 12, 12, 0.2);
                        text-align: center;
                        text-transform: capitalize;
                    }
                }
                tr:hover{
                    background: #dccdcd;
                }
            }
        }

    }
    
}