.tratamientos{
    background-image: url(../img/1000_F_419945971_YNfDJMmW1nrXi63PGJ6zTqvWwS2RviKK.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.title-service-1{
    width: 100%;
    padding: 1rem;
    text-align: center;
    h2{
        font-size: 2.5rem;
        color: rgba(244, 244, 244, 0.9);
    }
    
}

.nbc{
    background-image: url(../img/mujer-mostrando-su-arte.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.proyects-container{
    width: 100%;
    margin: auto;
    padding: 40px;
    background-color: #F6F5F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
   

    .pr-container{
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        margin-top: 40px;
        justify-content: center;

    }

    .proycts{
        width: 446px;
        background-color: #222831;
        padding: 3rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h3{
            font-size: 2rem;
            text-align: center;
            text-transform: capitalize;
        }

        .btn-proyetc{
            display: flex;
            width: 90%;

            .btn-4{
                display: inline;
                width: 10rem;
                color: #9ca3af;
                background-color: black;
                font-size: 15px;
                text-align: center;
                margin: auto;
                border-radius: 4px;
            }
        }

        .name-proyects{
            margin-top: 20px;
        }

        p{
            margin-top: 20px;
            color: #F6F5F4;
            margin-left: 10px;
        }

        .btn-proyetc{
            display: flex;
            width: 90%;
            margin: auto;
            justify-content: space-between;

            .btn-4{
            display: inline-block;
            background-color: #9ca3af;
            color: black;
            font-weight: 500;
            font-size: 13px;
            text-align: center;
            padding: 10px;
            box-shadow: 0 0 10px #0004;
            transition: all .3s;
            }

            .btn-4:hover{
            background-color: #babfc7;
            border-color: #babfc7;
            box-shadow: 0 0 10px #0004;
            transition: all .3s;    
            }
        }
        .imgproyectos{
            max-width: 90%;
            height: 40rem;
            margin: 0 auto;
            border: solid 1px #F6F5F4;
            border-radius: 2rem;
            overflow: hidden;
            
        }
        .kera{
            width: 90%;
            background-image: url(../img/keratinaimg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .ali{
            width: 90%;
            background-image: url(../img/alisadoimg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .colo{
            width: 90%;
            background-image: url(../img/coloracionimg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .peina{
            width: 90%;
            background-image: url(../img/peinados.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        //section nails


        .semi{
            width: 90%;
            background-image: url(../img/esculpidas.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .escu{
            width: 90%;
            background-image: url(../img/aclirico.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .esma{
            width: 90%;
            background-image: url(../img/esmaltado.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .cappin{
            width: 90%;
            background-image: url(../img/capping.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    

    .title-proyects{
        display: flex;
        margin-right: 2rem;
        white-space: nowrap;
    }
    
    .box-trat{
        display: inline-block;
        h2{
            margin: 0;
            font-size: 2rem;
            color: #823c3c;
        }
    }


}